.drop-list {
    background: #fff;
    border: 1px solid black;
    width: 100%;
    z-index: 999;
  }
  
  .drop-list ul {
    list-style: none;
    padding-left: 0;
  }
  
  .drop-list ul li{
    margin-left: 10px;
  }
  
  .drop-list ul li:hover {
    color: #fff;
    background: #0b5ed7;
  }
  